<nav class="navbar navbar-expand-lg navbar-light bg-light" id="title">
    <a class="navbar-brand" href="/" style="color: #fe346e">
        <img src="/image/paw.png" width="50" height="50">
        MyPet
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/profile">My account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/listHome">List a home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color: #11999e">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
            </li>

            {{/if}}
        </ul>

    </div>
</nav>


<style>
    body {
        color: #3b6978;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
</style>