<div class="container center" id="title">
    <h1 class="marginTop">About us</h1>
    <p>We will help you to find a permanent home for your pet.</p>
    <p>If you need to travel or go outside without your pets you can find a home for them here.</p>
    <p>A lot of people around you can help you.</p>
    <p>The main purpose of our service is to help you to find nice place for your pet nereby.</p>


</div>
<style>
    body {
        background-color: #fde2e2;
        color: #3b6978;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
</style>