<div class="container" id="title">
    <div class="container" id="title">
        <h1 class="h2 center marginTop">Contact us</h1>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-5">
                <form action="/contact" method="POST">
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" class="form-control"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" style="background-color: #fe346e">Send</button>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>

    </div>
</div>
<style>
    body {
        background-color: #fde2e2;
        color: #3b6978;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
</style>