<div class="container" id="title">
    <h2 class="center marginTop">Service for find a permanent home for your pet.</h2>
    <h2 class="center">
        <a href="/auth/facebook">
            <button class="btn btn-primary" type="button"><i class="fab fa-facebook-f"></i> Login with facebook</button>
        </a>
        <a href="/displayLoginForm">
            <button class="btn btn-info" type="button"> Login with Email</button>
        </a>
    </h2>

    <h5 class="center marginTop">
        <a href="/signup" style="color: #11999e">Don't have an account? Sign up!</a>
    </h5>
</div>

<section id="testimonials">
    <div id="carouselTestimonials" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover">
        <div class="carousel-inner">
            <div class="carousel-item active container-fluid">
                <img class="testimonial-image" src="/image/dog3.jpg" alt="dog3">
                <em>Bobik, 2 years-old, has been living with Lora for 5 days.</em>
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="/image/cat4.jpg" alt="lady-profile">
                <em>Roger, 1 year-old, is happy with Tom for 2 weeks.</em>
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="/image/dog4.jpg" alt="lady-profile">
                <em>Tommy, 1 year-old, has been playing with Boby for 2 days. </em>
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="/image/cat3.jpg" alt="lady-profile">
                <em>Beverly, 1 year-old, has been living with Richard for 1 week. </em>
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="/image/dog5.jpg" alt="lady-profile">
                <em>Sunny, 1 year-old, has been playing with Jim for 3 days. </em>
            </div>
        </div>
        <a class="carousel-button carousel-control-prev" href="#carouselTestimonials" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselTestimonials" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<style>
    body {
        background-color: #fde2e2;
        color: #3b6978;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }
</style>